* {
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
}

/* navbar */
.navigation {
  /* overflow: hidden;
  background-color: black;
  position: fixed !important;
  width: 100%; */

  overflow: hidden!important;
  background-color: black;
  position: sticky !important;
  top: 0;
  width: 100%;
}

.logo {
  color: white;
  margin-left: 55px;
}

.logo span {
  color: crimson;
}

.logo a {
  text-decoration: none;
  color: white;
  cursor: default;
}
.logo a:hover {
  text-decoration: none;
  color: white;
}

.menu-Items {
  margin-right: 75px;
  text-decoration: none;
  list-style: none;
}

.menu a {
  margin-left: 105px;
  color: white;
  display: block;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: none;
  color: crimson;
  transition: 0.3s;
}

/* home */

#Home {
  background: url("../Images/background.jpg");
  height: 830px;
}

#Home .container {
  height: 100vh;
  text-align: center;
}

#Home .container .row {
  align-items: center;
}

.profile-pic {
  border-radius: 30%;
  height: 300px;
  width: 300px;
  margin-top: 210px;
}

.BIO {
  margin-top: 210px;
}
.container h1 {
  color: crimson;
  font-size: 55px;
  font-weight: 600;
}

.container p {
  color: white;
  font-size: 17px;
}

/* About */

#About {
  background-image: url("../Images/img-1.jpg");
  height: 720px;
}

#About .heading {
  text-align: center;
  color: white;
  padding: 55px;
}

#About h1 span {
  color: crimson;
}

#About .container {
  color: white;
}

.info {
  line-height: 4;
}

.box-stats {
  padding: 20 px 30 px 25 px 40 px;
  border-radius: 5 px;
  border: 1 px solid #252525;
}

.qualification{
  color: white;
  margin-top: 15px;
}

.border-class{
  padding: 5px;
  margin: 15px;
}

/* skills */

#Skills{
    background: url("../Images/background.jpg");
    height: 820px;
    color: white;
}

#Skills h1{
  text-align: center;
  padding-top: 80px;
}

#Skills .mb-4{
  margin-bottom: 5.5rem!important;
}

#Skills .mt-4{
  margin-top: 5.5rem!important;
}

 /* Portfolio */

 #Portfolio{
   background: url("../Images/img-1.jpg");
   height: 820px;
   color: white;
 }

 #Portfolio h1{
  text-align: center;
  padding-top: 80px;
}

 /* Contact */

 #Contact{
  background: url("../Images/background.jpg");
  height: 820px;
  color: white;
 }

#Contact h1{
  text-align: center;
  padding-top: 80px;
}

 #Contact h1 span{
   color: crimson;
 }